/*
 elm-hot creates an additional div wrapper around the app to make HMR possible.
 This could break styling in development mode if you are using Elm UI.
 More context in the issue:
 https://github.com/halfzebra/create-elm-app/issues/320
 */
@import url("https://fonts.googleapis.com/css?family=Montserrat:100");
html, body {
  padding: 0;
  margin: 0;
  font-family: 'Montserrat', sans-serif; }

button {
    background-color: Transparent;
    background-repeat:no-repeat;
    border: none;
    cursor:url('../public/rainbow-p.png') 10 3,auto;
    overflow: hidden;

}

.access {
    color: #00FFFF;
    text-shadow: 10px 5px #DC143C;
    font-size: 3vw;
    letter-spacing: 0.5em;
    background-color:black;
    height:8vh;
    width:100%;
}


.app {
  background: linear-gradient(rgba(10, 10, 10, 0.06), black), repeating-linear-gradient(0, transparent, transparent 2px, black 2px, black 5px), url("../public/women-glitch2.gif");
  background-size: cover;
  background-position: center;
  height: 92vh;
  width: 100%;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  align-content: flex-ends;
  justify-content: center;
  align-items: center;
  background-position: center;
  z-index: 1; }

#wrapper {
  text-align: center; }

.sub {
    color: Chartreuse;
  letter-spacing: 1em;
   letter-spacing: 0.5em;
   font-size: 2vw;
   font-weight: bold;
   text-shadow: 10px 5px #0a0a0a;}

/* Our mixin positions a copy of our text
directly on our existing text, while
also setting content to the appropriate
text set in the data-text attribute. */
.glitch {
  position: relative;
  color: white;
  font-size: 6vw;
  letter-spacing: .5em;
   text-shadow: 10px 5px #8A2BE2;
   letter-spacing: 1em;
   font-weight: bold;
  /* Animation provies a slight random skew. Check bottom of doc
	for more information on how to random skew. */
  animation: glitch-skew 1s infinite linear alternate-reverse; }
  .glitch::before {
    content: attr(data-text);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    left: 4px;
    text-shadow: -2px 0 #ff00c1;
    /* Creates an initial clip for our glitch. This works in
		a typical top,right,bottom,left fashion and creates a mask
		to only show a certain part of the glitch at a time. */
    clip: rect(44px, 450px, 56px, 0);
    /* Runs our glitch-anim defined below to run in a 5s loop, infinitely,
		with an alternating animation to keep things fresh. */
    animation: glitch-anim 5s infinite linear alternate-reverse; }
  .glitch::after {
    content: attr(data-text);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    left: -2px;
    text-shadow: -2px 0 #00fff9, 2px 2px #ff00c1;
    animation: glitch-anim2 1s infinite linear alternate-reverse; }

/* Creates an animation with 20 steaps. For each step, it calculates
a percentage for the specific step. It then generates a random clip
box to be used for the random glitch effect. Also adds a very subtle
skew to change the 'thickness' of the glitch.*/
@keyframes glitch-anim {
  0% {
    clip: rect(17px, 9999px, 29px, 0);
    transform: skew(0.6deg); }
  5% {
    clip: rect(74px, 9999px, 5px, 0);
    transform: skew(0.64deg); }
  10% {
    clip: rect(87px, 9999px, 53px, 0);
    transform: skew(0.08deg); }
  15% {
    clip: rect(49px, 9999px, 32px, 0);
    transform: skew(0.74deg); }
  20% {
    clip: rect(7px, 9999px, 89px, 0);
    transform: skew(0.82deg); }
  25% {
    clip: rect(16px, 9999px, 35px, 0);
    transform: skew(0.79deg); }
  30% {
    clip: rect(50px, 9999px, 82px, 0);
    transform: skew(0.13deg); }
  35% {
    clip: rect(51px, 9999px, 100px, 0);
    transform: skew(0.93deg); }
  40% {
    clip: rect(54px, 9999px, 78px, 0);
    transform: skew(0.32deg); }
  45% {
    clip: rect(57px, 9999px, 33px, 0);
    transform: skew(0.38deg); }
  50% {
    clip: rect(6px, 9999px, 78px, 0);
    transform: skew(0.05deg); }
  55% {
    clip: rect(22px, 9999px, 53px, 0);
    transform: skew(0.54deg); }
  60% {
    clip: rect(29px, 9999px, 32px, 0);
    transform: skew(0.81deg); }
  65% {
    clip: rect(15px, 9999px, 33px, 0);
    transform: skew(0.52deg); }
  70% {
    clip: rect(57px, 9999px, 36px, 0);
    transform: skew(0.34deg); }
  75% {
    clip: rect(17px, 9999px, 97px, 0);
    transform: skew(0.27deg); }
  80% {
    clip: rect(3px, 9999px, 66px, 0);
    transform: skew(0.22deg); }
  85% {
    clip: rect(33px, 9999px, 40px, 0);
    transform: skew(0.75deg); }
  90% {
    clip: rect(34px, 9999px, 77px, 0);
    transform: skew(0.03deg); }
  95% {
    clip: rect(40px, 9999px, 13px, 0);
    transform: skew(0.98deg); }
  100% {
    clip: rect(58px, 9999px, 59px, 0);
    transform: skew(0.3deg); } }

@keyframes glitch-anim2 {
  0% {
    clip: rect(97px, 9999px, 11px, 0);
    transform: skew(0.55deg); }
  5% {
    clip: rect(56px, 9999px, 100px, 0);
    transform: skew(0.54deg); }
  10% {
    clip: rect(78px, 9999px, 25px, 0);
    transform: skew(0.3deg); }
  15% {
    clip: rect(82px, 9999px, 11px, 0);
    transform: skew(0.32deg); }
  20% {
    clip: rect(11px, 9999px, 82px, 0);
    transform: skew(0.92deg); }
  25% {
    clip: rect(13px, 9999px, 26px, 0);
    transform: skew(0.42deg); }
  30% {
    clip: rect(100px, 9999px, 84px, 0);
    transform: skew(0.31deg); }
  35% {
    clip: rect(20px, 9999px, 60px, 0);
    transform: skew(0.09deg); }
  40% {
    clip: rect(89px, 9999px, 40px, 0);
    transform: skew(0.98deg); }
  45% {
    clip: rect(15px, 9999px, 77px, 0);
    transform: skew(0.16deg); }
  50% {
    clip: rect(11px, 9999px, 56px, 0);
    transform: skew(0.98deg); }
  55% {
    clip: rect(29px, 9999px, 39px, 0);
    transform: skew(0.94deg); }
  60% {
    clip: rect(26px, 9999px, 59px, 0);
    transform: skew(0.23deg); }
  65% {
    clip: rect(77px, 9999px, 92px, 0);
    transform: skew(0.13deg); }
  70% {
    clip: rect(88px, 9999px, 32px, 0);
    transform: skew(0.52deg); }
  75% {
    clip: rect(67px, 9999px, 93px, 0);
    transform: skew(0.87deg); }
  80% {
    clip: rect(5px, 9999px, 30px, 0);
    transform: skew(0.51deg); }
  85% {
    clip: rect(53px, 9999px, 34px, 0);
    transform: skew(0.42deg); }
  90% {
    clip: rect(23px, 9999px, 99px, 0);
    transform: skew(0.78deg); }
  95% {
    clip: rect(34px, 9999px, 51px, 0);
    transform: skew(0.93deg); }
  100% {
    clip: rect(10px, 9999px, 88px, 0);
    transform: skew(0.03deg); } }

@keyframes glitch-skew {
  0% {
    transform: skew(5deg); }
  10% {
    transform: skew(5deg); }
  20% {
    transform: skew(-3deg); }
  30% {
    transform: skew(2deg); }
  40% {
    transform: skew(-4deg); }
  50% {
    transform: skew(-2deg); }
  60% {
    transform: skew(1deg); }
  70% {
    transform: skew(0deg); }
  80% {
    transform: skew(4deg); }
  90% {
    transform: skew(3deg); }
  100% {
    transform: skew(4deg); } }
